*.pyc
**/__pycache__/
__pycache__/

.env
env/
venv/
*.pyo
*.pyd
*.pdb
*.egg-info/
dist/
build/
.eggs/
*.log
.DS_Store
*.sqlite3
*.db
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.tox/
.idea/
.vscode/
*.swp
*.bak
*.orig
*.~ 